name: Ejecutar cron cada 5 minutos

on:
  schedule:
    - cron: "*/5 * * * *"
  workflow_dispatch:

jobs:
  ejecutar:
    runs-on: ubuntu-latest
    steps:
      - name: Llamar URL timerIEWC
        run: |
          curl -s https://iewccfdi.facturacionelectronica.mx/timerIEWC.php
